@font-face {
  font-family: 'Raleway';
  font-display: swap;
  src: url('../assets/fonts/Raleway-Regular.ttf');
}
html {
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  color: #111111;
  margin: 0;
  font-family: 'Raleway';
}

.layout {
  position: relative;
  min-height: 100vh;
}

.layout__main {
  max-width: 1024px;
  margin: auto;
  padding: 1rem;
  padding-bottom: 170px;
}

.layout__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  font-size: 0.8rem;
}

.layout__footer-container {
  max-width: 1024px;
  margin: auto;
  text-align: center;
}